/* ** GLOBAL STYLES ** */
:root{
  --primary-color:  #F3603C;
  --secondary-color:  #FFF0EC;
  --cod-blue: #242D52;
  --cod-blue-dim: #242d5280;
  --black: #1D1E25;
  --white: #fff;
}
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
h1 h2 h3 h4 h5 h6{
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: 'Be Vietnam', Arial, sans-serif;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--cod-blue-dim);
}
img
{
  display: flex;
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1158px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* border: 3px solid red; */
}
/* LOGO  */
.logo:hover {
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: flex;
}

/* BUTTON  */
.btn{
  padding: 12px 32px;
  color: #FCF6F5;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  border-radius: 22px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.btn:active{
  opacity: 0.6;
}
.btn-primary{
  background-color: var(--primary-color);
}
.btn-white{
  background-color: var(--white);
  color: var(--primary-color);
}

/* HEADER  */
.header {
  padding-top: 56px;
  padding-bottom: 56px;
}
.header__container{
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 24px;
}
.sitenav {
  max-width: 755px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  margin-right: 32px;
}
.sitenav__item:not(:last-child) {
  margin-right: 32px;
}
.sitenav__link {
  color: var(--cod-blue);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.sitenav__link:hover{
  opacity: 0.8;
}
.sitenav__link:active{
  opacity: 0.5;
}

/* HERO */
.hero {
  padding-top: 113px;
  padding-bottom: 180px;
}
.hero__content {
  max-width: 445px;
}
.hero__title {
  color: var(--cod-blue);
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.hero__text {
  margin-bottom: 40px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}

/* FEATURES */
.features {
  padding-bottom: 145px;
}
.features__container {
  display: flex;
  justify-content: space-between;
}

.features__content {
  max-width: 445px;
  width: 100%;
  margin-right: 24px;
}
.features__content p{
  max-width: 350px;
}
.features__title {
  color: var(--cod-blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.714px;
  margin-bottom: 24px;
}

.features__list {
  max-width: 540px;
  width: 100%;
}
.features__list-item {
  position: relative;
  padding-top: 6px;
  padding-left: 95px;}
  .features__list-item--count {
    position: absolute;
    left: 0;
    top: 0;
    width: 67px;
    color: var(--white);
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
    background-color: var(--primary-color);
    padding: 10px 23px;
    border-radius: 39px;
  }
  .features__list-item--title {
    color: var(--cod-blue);
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
    margin-bottom: 19px;
  }

  /* TESTIMONIAL SECTION  */
  .testimonial {
    padding-bottom: 180px;
  }
  .testimonial__container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .testimonial__title {
    color: var(--cod-blue);
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.714px;
    margin-bottom: 100px;
  }
  .testimonial__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .testimonial__card {
    width: calc(100% / 3 - 20px);
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:  #FAFAFA;
  }
  .testimonial__card-img{
    margin-top: -36px;
    margin-bottom: 24px;
  }
  .testimonial__card-title {
    color: var(--cod-blue);
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.286px;
    margin-bottom: 16px;
  }

  /* CTA  */
  .cta {
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: var(--primary-color);
  }
  .cta__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cta__title {
    max-width: 445px;
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: -0.714px;
    margin-right: 24px;
  }

  /* FOOTER  */
  .footer {
    background-color: var(--black);
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .footer__container {
    display: flex;
  }
  .footer__logo-social--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .socials {
    display: flex;
    align-items: center;
  }
  .socials__item:not(:last-child) {
    margin-right: 16px;
  }
  .socials__link:hover   .socials__icon{
    color: var(--primary-color);
  }
  .socials__icon {
    color: var(--white);
  }
  .footer__list-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
    margin-right: 13px;
    margin-left: auto;
  }
  .footer__list:nth-child(1) {
    margin-right: 24px;
  }

  .list-footer__item:not(:last-child) {
    margin-bottom: 13px;
  }
  .list-footer__link {
    width: 255px;
    color: var(--white);
    font-size: 15px;
    line-height: normal;
    letter-spacing: -0.234px;
  }
  .list-footer__link:hover{
    color: var(--primary-color);
  }
  .list-footer__link:active{
    opacity: 0.6;
  }
  .footer__form-copywright-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__form-field-wrapper {
    height: 100%;
  }
  .footer__form-field-wrapper   .btn-primary {
    height: 100%;
  }
  .footer__form-field {
    padding: 12px 16px;
    margin-right: 8px;
    width: 200px;
    height: 100%;
    border-radius: 22px;
  }

  .copyeright {
    color: var(--white);
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.203px;
    opacity: 0.5;
  }