/* ** GLOBAL STYLES ** */
:root{
  --primary-color:  #F3603C;
  --secondary-color:  #FFF0EC;
  --cod-blue: #242D52;
  --cod-blue-dim: #242d5280;
  --black: #1D1E25;
  --white: #fff;
}
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
a {
  text-decoration: none;
  display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
h1 h2 h3 h4 h5 h6{
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-family: 'Be Vietnam', Arial, sans-serif;
  letter-spacing: 0;
  background-color: var(--white);
  color: var(--cod-blue-dim);
}
img
{
  display: flex;
  max-width: 100%;
  height: auto;
}
/* * * / AUTOFILL STYLES \ * * */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *** CONTAINER *** */
.container
{
  max-width: 1158px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* border: 3px solid red; */
}
/* LOGO  */
.logo:hover {
  opacity: 0.8;
}
.logo:active{
  opacity: 0.6;
}
.logo__img {
  display: flex;
}

/* BUTTON  */
.btn{
  padding: 12px 32px;
  color: #FCF6F5;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  border-radius: 22px;
}
.btn:hover{
  opacity: 0.8;
}
.btn:active{
  opacity: 0.6;
}
.btn-primary{
  background-color: var(--primary-color);
}
.btn-white{
  background-color: var(--white);
  color: var(--primary-color);
}

/* HEADER  */
.header {
  padding-top: 56px;
  padding-bottom: 56px;
}
.header__container{
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 24px;
}
.sitenav {
  max-width: 755px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}
.sitenav__list {
  display: flex;
  margin-right: 32px;
}
.sitenav__item:not(:last-child) {
  margin-right: 32px;
}
.sitenav__link {
  color: var(--cod-blue);
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.sitenav__link:hover{
  opacity: 0.8;
}
.sitenav__link:active{
  opacity: 0.5;
}

/* HERO */
.hero {
  padding-top: 113px;
  padding-bottom: 180px;
}
.hero__content {
max-width: 445px;
}
.hero__title {
  color: var(--cod-blue);
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}
.hero__text {
margin-bottom: 40px;
}
/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
}